@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;800;1000&display=swap");

/* src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'tailwindcss/tailwind.css';

:root {
  font-size: 14px;
  position: relative;
  max-height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  background-color: hsl(0, 0%, 97%);
  overflow-x: hidden;
  z-index: 10;
}

.date-picker-custom {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 1rem;
  width: 100%;
  height: 46px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
}

.background-wave {
  position: absolute;
  width: 100vw;
  min-width: 900px;
  bottom: -4rem;
  z-index: -1;
}

.progress-bar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(hotpink 75%, pink 0);    
}

.container_list-tasks .subcontainer_list-tasks {
  overflow-y: auto;
}

.container_list-tasks .subcontainer_list-tasks.close-form {
  max-height: 590px;
}

.container_list-tasks .subcontainer_list-tasks.open-form {
  max-height: 470px;
}

@media screen and (min-width: 768px) {
  .container_list-tasks .subcontainer_list-tasks {
    max-height: 600px;
  }
}

/* Personalización del scroll vertical */
::-webkit-scrollbar {
  width: 6px; /* Ancho del scrollbar */
}
::-webkit-scrollbar-thumb {
  background: theme('colors.gray.800'); /* Color del thumb (barra de desplazamiento) */
  border-radius: 6px; /* Radio de borde del thumb */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color del fondo del scrollbar */
}

/* Personalización del scroll horizontal (opcional) */
::-webkit-scrollbar-thumb:horizontal {
  background: theme('colors.gray.800');
}

::-webkit-scrollbar-track:horizontal {
  background: #f1f1f1;
}

.background-hexa {
  position: absolute;
  width: 100vw;
  min-width: 900px;
  object-fit: cover;
  object-position: center;
  height: 100vh;
  top: 0;
  z-index: -1;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: theme('colors.teal.500');
  border-radius: 50%;
  width: 36px;
  height: 36px;
  
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 45rem) {
  :root {
    font-size: 12px;
  }
}